@model IEnumerable<ComprasDTO.CompraDTO>

@{
    ViewData["Title"] = "ListaFiltrada";
}

<h1>ListaFiltrada</h1>
<a href="/Compra/PreCargarCompras" class="btn btn-dark" id="cargaC"> Cargar Compras </a>
<div class="row mt-3">
    <div class="col-md-4">

        <form method="post" class="formulario">
            <div class="form-group mt-3">
                <label class="control-label font-weight-bold"> Seleccione el Tipo de Planta</label>
                <select name="idTipoDePlanta" class="form-control">
                    @foreach (var tdp in ViewBag.ListaTipoP)
                    {
                        <option value="@tdp.Id"> @tdp.Nombre </option>
                    }
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Buscar" class="btn btn-dark">
            </div>
        </form>
    </div>
</div>


@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    Nombres Cientificos
                </th>
                <th>
                    Unidades Compradas
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @{IEnumerable<string> nomC = item.LineaFact.Select(nc => nc.Planta.NombreCientifico);
                        }
                        @foreach (var nom in nomC)
                        {
                            <p>@nom</p>
                        }
                        </td>
                    <td>
                        @{IEnumerable<int> cant = item.LineaFact.Select(nc => nc.CantidadUnidadesCompradas);
                        }
                        @foreach (var cantidad in cant)
                        {
                            <p>@cantidad</p> 
                         }
                    </td>


                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts {

    <script type="text/javascript">

    function openErrorModal(mensajeError) {
        document.getElementById('mensajeModalError').innerHTML = mensajeError;
        $('#myModalError').modal('show');
        }

    function openSuccesModal(mensaje) {
        document.getElementById('mensajeModal').innerHTML = mensaje;
        $('#myModal').modal('show');
     }

    function ocultar() {
        document.getElementById('cargaC').style.display = 'none';
     }

    $(document).ready(function () {
        var msgError = "@ViewBag.Error";
        var msgError1 = "@TempData["cargaError"]";
        var msgOk = "@TempData["cargaOk"]";

        if (msgError)
            openErrorModal(msgError);
        if (msgError1)
            openErrorModal(msgError1);
        if (msgOk)
            openSuccesModal(msgOk);
        if (msgOk)
            ocultar();
       
    });
    </script>
}